<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v2.dtd">

<!-- For running only pt MatsimMain.class has to modified (other controler) -->

<config>

	<module name="global">
		<param name="randomSeed" value="4711" />
		<param name="coordinateSystem" value="Atlantis" />
	</module>

	<module name="network">
		<param name="inputNetworkFile" value="network.xml" />
	</module>

	<module name="plans">
		<param name="inputPlansFile" value="population.xml" />
	</module>

	<module name="controler">
		<param name="outputDirectory" value="./output" />
		<param name="firstIteration" value="0" />
		<param name="lastIteration" value="20" />
		<param name="routingAlgorithmType" value="AStarLandmarks" />
	</module>

	<module name="planCalcScore" >
		<parameterset type="scoringParameters" >
			<param name="waitingPt" value="-6.0" />
			<parameterset type="activityParams" >
				<param name="activityType" value="dummy" />
				<param name="scoringThisActivityAtAll" value="true" />
				<param name="typicalDuration" value="12:00:00" />
			</parameterset>
			<parameterset type="modeParams" >
				<!-- [utils] alternative-specific constant.  Normally per trip, but that is probably buggy for multi-leg trips. -->
				<param name="constant" value="0.0" />
				<!-- [utils/m] utility of traveling (e.g. walking or driving) per m, normally negative.  this is on top of the time (dis)utility. -->
				<param name="marginalUtilityOfDistance_util_m" value="-10.0" />
				<!-- [utils/hr] additional marginal utility of traveling.  normally negative.  this comes on top of the opportunity cost of time -->
				<param name="marginalUtilityOfTraveling_util_hr" value="-6.0" />
				<param name="mode" value="car" />
				<!-- [unit_of_money/m] conversion of distance into money. Normally negative. -->
				<param name="monetaryDistanceRate" value="0.0" />
			</parameterset>
			<parameterset type="modeParams" >
				<param name="constant" value="0.0" />
				<param name="dailyMonetaryConstant" value="0.0" />
				<param name="dailyUtilityConstant" value="0.0" />
				<param name="marginalUtilityOfDistance_util_m" value="0.0" />
				<param name="marginalUtilityOfTraveling_util_hr" value="-2.0" />
				<param name="mode" value="pt" />
				<param name="monetaryDistanceRate" value="0.0" />
			</parameterset>
			<parameterset type="modeParams" >
				<param name="constant" value="0.0" />
				<param name="dailyMonetaryConstant" value="0.0" />
				<param name="dailyUtilityConstant" value="0.0" />
				<param name="marginalUtilityOfDistance_util_m" value="-5.0" />
				<param name="marginalUtilityOfTraveling_util_hr" value="-6.0" />
				<param name="mode" value="walk" />
				<param name="monetaryDistanceRate" value="0.0" />
			</parameterset>
		</parameterset>
	</module>

	<module name="transit">
		<param name="transitScheduleFile" value="transitSchedule.xml"/>
		<param name="vehiclesFile" value="transitVehicles.xml"/>

		<param name="useTransit" value="true"/>
		<param name="transitModes" value="pt"/>
	</module>

	<module name="qsim">
		<param name="startTime" value="00:00:00"/>
		<param name="endTime" value="25:00:00"/>
	</module>

	<!--	Public Transport -->
	<module name="swissRailRaptor">
		<param name="useIntermodalAccessEgress" value="true" />

		<parameterset type="intermodalAccessEgress">
            <param name="mode" value="walk"/>
			<param name="maxRadius" value="1000"/>
			<param name="initialSearchRadius" value="500"/>
			<param name="searchExtensionRadius" value="250"/>
		</parameterset>
	</module>

	<module name="strategy">
		<param name="maxAgentPlanMemorySize" value="5"/>

		<parameterset type="strategysettings">
			<param name="strategyName" value="ChangeTripMode"/>
			<param name="weight" value="0.1"/>
		</parameterset>
		<parameterset type="strategysettings">
			<param name="strategyName" value="BestScore"/>
			<param name="weight" value="0.9"/>
		</parameterset>
	</module>
</config>
