<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v2.dtd">

<config>
    <module name="drtPlanModifier">
		<param name="modifyPlans" value="true"/>
	</module>

	<module name="global">
		<param name="randomSeed" value="4392" />
		<param name="coordinateSystem" value="Atlantis" />
		<param name="numberOfThreads" value="4" />
	</module>

	<module name="network">
		<param name="inputNetworkFile" value="network.xml" />
	</module>

	<module name="plans">
		<param name="inputPlansFile" value="population.xml" />
	</module>

	<module name="controler">
		<param name="outputDirectory" value="./output" />
		<param name="firstIteration" value="0" />
		<param name="lastIteration" value="0" />
		<param name="routingAlgorithmType" value="AStarLandmarks" />
	</module>

	<module name="planCalcScore" >
		<parameterset type="scoringParameters" >
			<param name="waitingPt" value="-1" />
			<parameterset type="activityParams" >
				<param name="activityType" value="dummy" />
				<param name="scoringThisActivityAtAll" value="true" />
				<param name="typicalDuration" value="12:00:00" />
			</parameterset>
			<parameterset type="modeParams" >
				<!-- [utils] alternative-specific constant.  Normally per trip, but that is probably buggy for multi-leg trips. -->
				<param name="constant" value="0.0" />
				<!-- [utils/m] utility of traveling (e.g. walking or driving) per m, normally negative.  this is on top of the time (dis)utility. -->
				<param name="marginalUtilityOfDistance_util_m" value="-10.0" />
				<!-- [utils/hr] additional marginal utility of traveling.  normally negative.  this comes on top of the opportunity cost of time -->
				<param name="marginalUtilityOfTraveling_util_hr" value="-6.0" />
				<param name="mode" value="car" />
				<!-- [unit_of_money/m] conversion of distance into money. Normally negative. -->
				<param name="monetaryDistanceRate" value="0.0" />
			</parameterset>
			<parameterset type="modeParams" >
				<param name="constant" value="0.0" />
				<param name="dailyMonetaryConstant" value="0.0" />
				<param name="dailyUtilityConstant" value="0.0" />
				<param name="marginalUtilityOfDistance_util_m" value="0.0" />
				<param name="marginalUtilityOfTraveling_util_hr" value="0.0" />
				<param name="mode" value="pt" />
				<param name="monetaryDistanceRate" value="0.0" />
			</parameterset>
			<parameterset type="modeParams" >
				<param name="constant" value="0.0" />
				<param name="dailyMonetaryConstant" value="0.0" />
				<param name="dailyUtilityConstant" value="0.0" />
				<param name="marginalUtilityOfDistance_util_m" value="-5.0" />
				<param name="marginalUtilityOfTraveling_util_hr" value="-6.0" />
				<param name="mode" value="walk" />
				<param name="monetaryDistanceRate" value="0.0" />
			</parameterset>
			<parameterset type="modeParams">
				<param name="constant" value="0.0" />
				<param name="dailyMonetaryConstant" value="0.0" />
				<param name="dailyUtilityConstant" value="0.0" />
				<param name="marginalUtilityOfDistance_util_m" value="-5.0" />
				<param name="marginalUtilityOfTraveling_util_hr" value="-5.0" />
				<param name="mode" value="drt" />
				<param name="monetaryDistanceRate" value="0.0" />
			</parameterset>
		</parameterset>
	</module>

	<module name="planscalcroute" >
		<!-- <param name="networkModes" value="drt,pt" /> -->
		<parameterset type="teleportedModeParameters" >
			<!-- 1.4 for manhatten, infinity for non walking, default 1.3 -->
			<!-- turn off walking -->
			<param name="beelineDistanceFactor" value="9999999" />
			<param name="mode" value="walk" />
			<param name="teleportedModeFreespeedFactor" value="null" />
			<param name="teleportedModeSpeed" value="0.8333333333333333" />
		</parameterset>
	</module>

	<module name="transit">
		<param name="transitScheduleFile" value="transitSchedule.xml"/>
		<param name="vehiclesFile" value="transitVehicles.xml"/>

		<!--otherwise pt legs would be teleported-->
		<param name="useTransit" value="true"/>
		<param name="transitModes" value="pt"/>
	</module>

	<module name="qsim">
		<param name="simStarttimeInterpretation" value="onlyUseStarttime" />
		<param name="simEndtimeInterpretation" value="onlyUseEndtime" />
		<param name="startTime" value="00:00:00"/>
		<param name="endTime" value="24:00:00"/>
		<param name="mainMode" value="car,train" />
	</module>

	<!--	Public Transport -->
	<module name="swissRailRaptor">
		<param name="useIntermodalAccessEgress" value="true" />

		<parameterset type="intermodalAccessEgress">
            <param name="mode" value="walk"/>
			<param name="maxRadius" value="1000"/>
			<param name="initialSearchRadius" value="500"/>
			<param name="searchExtensionRadius" value="250"/>
		</parameterset>
		<parameterset type="intermodalAccessEgress">
			<param name="mode" value="drt" />
			<param name="maxRadius" value="2000" />
			<param name="initialSearchRadius" value="1250"/>
			<param name="searchExtensionRadius" value="250"/>
		</parameterset>
	</module>

	<module name="strategy">
		<param name="maxAgentPlanMemorySize" value="3"/>

		<parameterset type="strategysettings">
			 <!-- ChangeTripMode -> whole trip;
				SubtourModeChoice -> Analyses plan... (can also consider car availability),
				ChangeSingleTripMode -> one subtrip -->
			<param name="strategyName" value="ChangeSingleTripMode"/>
			<param name="weight" value="0.1"/>
		</parameterset>
		<parameterset type="strategysettings">
			<param name="strategyName" value="BestScore"/>
			<param name="weight" value="0.9"/>
		</parameterset>
	</module>

	<module name="changeMode" >
		<!-- Defines all the modes available, including chain-based modes, seperated by commas -->
		<param name="modes" value="pt,drt" />
		<param name="ignoreCarAvailability" value="false" />
	</module>

	<module name="subtourModeChoice" >
		<!-- Defines the chain-based modes (Modes where you have to use your parked vehicle for the tour back) -->
		<param name="chainBasedModes" value="" />
		<!-- Defines all the modes available, including chain-based modes, seperated by commas -->
		<param name="modes" value="pt,drt" />
		<param name="considerCarAvailability" value="true" />
	</module>

	<module name="multiModeDrt">
		<parameterset type="drt">
			<parameterset type="ExtensiveInsertionSearch"/>
			<param name="estimatedDrtSpeed" value="8.333333333333334"/>
			<param name="maxTravelTimeAlpha" value="1.5"/>
			<param name="maxTravelTimeBeta" value="1200.0"/>
			<param name="maxWaitTime" value="1200.0"/>
			<param name="operationalScheme" value="door2door"/>
			<param name="stopDuration" value="30.0"/>
			<param name="vehiclesFile" value="drtvehicles.xml"/>

<!--			<parameterset type="minCostFlowRebalancing">-->
<!--				<param name="targetAlpha" value="0.5"/>-->
<!--				<param name="targetBeta" value="0.5"/>-->
<!--				<param name="cellSize" value="2000"/>-->
<!--				<param name="interval" value="1800"/>-->

<!--			</parameterset>-->
		</parameterset>
	</module>

	<module name="dvrp" >
		<param name="networkModes" value="car" />
	</module>

<!--	<module name="hermes" >-->
<!--		<param name="mainMode" value="drt" />-->
<!--	</module>-->

<!--	<module name="travelTimeCalculator" >-->
<!--		<param name="analyzedModes" value="car" />-->
<!--	</module>-->

<!--	<module name="counts" >-->
<!--		<param name="analyzedModes" value="drt" />-->
<!--	</module>-->

	<!--    <module name="drtfares">-->
	<!--        &lt;!&ndash; Define a parameterset for each drt mode where fares should be charged &ndash;&gt;-->

	<!--        <parameterset type="drtfare">-->
	<!--            <param name="mode" value="drt"/>-->
	<!--            &lt;!&ndash; transport mode for which this fare applies. Default: drt &ndash;&gt;-->
	<!--            <param name="basefare" value="0.5"/>-->
	<!--            &lt;!&ndash; Daily subscription fee (fee = positive value) &ndash;&gt;-->
	<!--            <param name="dailySubscriptionFee" value="0.0"/>-->
	<!--            &lt;!&ndash; drt fare per meter (fee = positive value) &ndash;&gt;-->
	<!--            <param name="distanceFare_m" value="0.0002"/>-->
	<!--            &lt;!&ndash; drt fare per hour (fee = positive value) &ndash;&gt;-->
	<!--            <param name="timeFare_h" value="3.6"/>-->
	<!--			&lt;!&ndash; Minimum fare per trip (paid instead of the sum of base, time and distance fare if that sum would be lower than the minimum fare, fee = positive value). &ndash;&gt;-->
	<!--			<param name="minFarePerTrip" value="2.0"/>-->
	<!--        </parameterset>-->
	<!--    </module>-->

</config>
